.card-styling {
    width: 420px;
    height: 200px;
    padding: 0.25rem 1rem;
    cursor: pointer;
    border-radius: 1rem;
}

.vs-styling {
    display: flex;
    justify-content: center;
    align-items: center;
}
