@import "../../../scss/abstract/colorPalette";

.max-with-styling {
    max-width: 200px;
}

.card-sidenav-styling {
    width: 100%;
    height: 100%;
    padding: 2rem;
    max-width: 400px;
    border-radius: 1rem;
    background-color: getColor(primary-blue);
}
