$palette-map: (
    primary-blue: #010b8b,
    primary-black: #1e0521,
    primary-blue-sky: #0be7fb,
    primary-yellow: #fecc50,
    primary-pink: #ff6d69,
    white-smoke: rgb(173, 173, 173),
    blue-1: #1f6a9c,
    purple-1: #5a47a0,
);

@function getColor($name) {
    @return map_get($palette-map, $name);
}

.text-white {
    color: white;
}

.text-smoke {
    color: getColor(white-smoke);
}

.bg-color-blue {
    min-height: 100vh;
    height: 100%;
    background-image: linear-gradient(to right, getColor(blue-1), getColor(purple-1));
}
